<template>
    <div class="container">
        <section class="vh-100" v-if="isAuthenticated==false">
          <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                  alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


                <form @submit.prevent="login" >

                 

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter a valid email address" v-model="form.email" />
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Enter password" v-model="form.password" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">
                        Remember me
                      </label>
                    </div>
                    <!--<a href="#!" class="text-body">Forgot password?</a>-->
                  </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                        class="link-danger">Register</a></p>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </section>
        <div v-else>     
            <header>
              <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                  <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Car Store</strong>
                  </a>
                  <button type="button" class="btn btn-dark" @click="logout">Logout</button>
                </div>
              </div>
            </header>
        </div>
    </div>
</template>
<style>
    .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
</style>

<script>

    import { reactive,inject,ref,onMounted } from 'vue';
    import axios from 'axios';

    export default {

         

        setup(){

            var cookies = inject('cookies');
            var isAuthenticated = ref(false);


            const form = reactive({
                email:'',
                password:''
            });

            const login = async()=>{
                console.log(form);
               let res =  await axios.post('api/login',form);
               if(res.data.token){
                cookies.set('access_token',res.data.token);
                isAuthenticated.value = true;
               }
               console.log(cookies.get('access_token'));
            }


            const checkLogin = ()=>{
                if(cookies.get('access_token')){
                    isAuthenticated.value = true;
                }
            }

            const logout = ()=>{
                if(cookies.get('access_token')){
                    cookies.set('access_token','');
                    isAuthenticated.value = false;
                }
            }


            onMounted(checkLogin);

            return {
                form,
                login,
                isAuthenticated,
                logout
            }
        }  
    }
</script>
