<template>
	<header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Car Store</strong>
          </a>
          <button type="button" class="btn btn-dark" @click="logout">Logout</button>
        </div>
      </div>
    </header>
</template>