<template>
	<div>
		<header>
          <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
              <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Car Store</strong>
              </a>
              <button type="button" class="btn btn-dark" @click="logout">Logout</button>
            </div>
          </div>
        </header>
        
        <div class="container p-5">

        	<button type="button" class="btn btn-primary mb-4 float-right" style="float: right;" data-bs-toggle="modal" data-bs-target="#myModal">Add Car</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">

			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Add Car</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>

			      <form @submit.prevent="addcar" >
			      <div class="modal-body">
			        <div class="form-group">
						<select  class="form-select" aria-label="Default select example" v-model="form.car_id">
						  <option value="" disabled>Select the car</option>

						    <option v-for="option in cars" :value="option.id">
						      {{ option.car_name }}
						    </option>
					  </select>

			        </div>  
			      </div>



			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <button type="submit"  class="btn btn-primary">Add</button>
			      </div>
			      </form>

			    </div>
			  </div>
			</div>



			<!-- Table -->
			<div v-if="error" class="alert alert-danger mt-5 " role="alert">
              {{error}}
          	</div>
        	<table class="table table-bordered table-hover">
        		<thead>
        			<th>Car Brand Name</th>
        			<th>Stock</th>
        			<!--<th>Action</th>-->
        		</thead>
        		<tbody >
        			<template v-for="car in cars" :key="car.id">
        				<tr>
	        				<td>{{car.car_name}}</td>
	        				<td>{{car.in_stock}}</td>
	        				<!--<td><button type="button" class="btn btn-success" style="margin: 0 auto;display:block;">Do Sale</button></td>-->
	        			</tr>
        			</template>
        		</tbody>
        	</table>

        </div>
        </div>

</template>
<style>
	a.editor-create {
        display: inline-block;
        margin-bottom: 0.5em;
    }

</style>

<script>


    import { reactive,inject,ref,onMounted } from 'vue';

    import axios from 'axios';
	import router from '../router';


    export default {

        setup(){

            var cookies = inject('cookies');
            let cars = ref([]);
            let error = ref("");

            const form = reactive({
                car_id:'',
            });

            const logout = ()=>{
                if(cookies.get('access_token')){
                    cookies.set('access_token','');
                    router.push({ name: "login" });
                }
            }


            const getCars = async()=>{

            		let cookietoken = cookies.get('access_token');
            		if(!cookietoken){
            			router.push({ name: "login" });
            		}
	              	let dataToken = {
					   headers: {
					      Authorization: "Bearer " + cookietoken
					   }
					}
               		let res =  await axios.get('api/get-cars',dataToken);
               		console.log(res);
               		if(res.data.cars){
               			cars.value = res.data.cars;
               		}else if(res.data.miderror){
               			cookies.set('access_token','');
                    	router.push({ name: "login" });
               		}
               		
	            }

	        const addcar = async()=>{
	        	let cookietoken = cookies.get('access_token');
	        	let dataToken = {
				   headers: {
				      Authorization: "Bearer " + cookietoken
				   }
				}
        		let res =  await axios.post('api/add-car',form,dataToken);
           		if(res.data.cars){
           			cars.value = res.data.cars;
           			location.reload();
           		}else if(res.data.miderror){
           			cookies.set('access_token','');
                	router.push({ name: "login" });
           		}else if(res.data.error){
           			error.value = res.data.error;
           		}
           		
           		
            }    

            onMounted(getCars());

            return {
                logout,
                cars,
                form,
                addcar,
                error
            }
        }  
    }
</script>


