<template>
    <div class="container">
        <section class="vh-100">
          <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                  alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

              	<div v-if="error" class="alert alert-danger" role="alert">
              		Invalid Credentials
              	</div>
              	<div v-if="emailerror" class="alert alert-danger" role="alert">
              	{{emailerror}}
              	</div>
              	<div v-if="namerror" class="alert alert-danger" role="alert">
              	{{namerror}}
              	</div>
              	<div v-if="passerror" class="alert alert-danger" role="alert">
              	{{passerror}}
              	</div>
                <form @submit.prevent="login" >

                 

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" required id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter a valid email address" v-model="form.email" />
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" required id="form3Example4" class="form-control form-control-lg"
                      placeholder="Enter password" v-model="form.password" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">
                        Remember me
                      </label>
                    </div>
                    <!--<a href="#!" class="text-body">Forgot password?</a>-->
                  </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
                        <router-link to='/register' class="link-danger">Register</router-link></p>

                  </div>

                </form>
              </div>
            </div>
          </div>
        </section>
        
    </div>
</template>
<script>

    import { reactive,inject,ref,onMounted } from 'vue';

    import axios from 'axios';
	import router from '../router';


    export default {

        setup(){

            var cookies = inject('cookies');
            var error = ref(false);
            let emailerror = ref("");
            let passerror  = ref("");



            const form = reactive({
                email:'',
                password:''
            });

           
            	const login = async()=>{
	              
               		let res =  await axios.post('api/login',form);
               		console.log(res);
               		if(res.data.token){
		                cookies.set('access_token',res.data.token);
		                router.push({ name: "home" });
	               }else if(res.data.error){
                       error.value = true;
	               }else if(res.data.email){
               		emailerror.value = res.data.email[0];
	               }else if(res.data.password){
	               	passerror.value = res.data.password[0];
	               }
	            }
            

            
            return {
                form,
                login,
                error,
                emailerror,
                passerror
            }
        }  
    }
</script>