<template>
    <div class="container">
        <section class="vh-100">
          <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                  alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4">
              	<div v-if="message" class="alert alert-danger" role="alert">
              	{{message}}
              	</div>
              	<div v-if="emailerror" class="alert alert-danger" role="alert">
              	{{emailerror}}
              	</div>
              	<div v-if="namerror" class="alert alert-danger" role="alert">
              	{{namerror}}
              	</div>
              	<div v-if="passerror" class="alert alert-danger" role="alert">
              	{{passerror}}
              	</div>



                <form @submit.prevent="register" >

                 

                	<!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" required id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter Name" v-model="form.name" />
                    <label class="form-label" for="form3Example3">User name</label>
                  </div>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" required id="form3Example3" class="form-control form-control-lg"
                      placeholder="Enter a valid email address" v-model="form.email" />
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" required id="form3Example4" class="form-control form-control-lg"
                      placeholder="Enter password" v-model="form.password" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Confirm password" required v-model="form.password_confirmation" />
                    <label class="form-label" for="form3Example4">Confirm password</label>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">
                        Remember me
                      </label>
                    </div>
                    <!--<a href="#!" class="text-body">Forgot password?</a>-->
                  </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? 
                        <router-link to='/login' class="link-danger">Login</router-link></p>

                  </div>

                </form>
              </div>
            </div>
          </div>
        </section>
        
    </div>
</template>
<script>

    import { reactive,inject,ref,onMounted } from 'vue';

    import axios from 'axios';
	import router from '../router';


    export default {

        setup(){

            var cookies = inject('cookies');
            let message = ref("");
            let emailerror = ref("");
            let namerror  = ref("");
            let passerror  = ref("");

            const form = reactive({
            	name:'',
                email:'',
                password:'',
                password_confirmation:''

            });

            const register = async()=>{
               let res =  await axios.post('api/register',form);
               if(res.data.token){
	                cookies.set('access_token',res.data.token);
	                router.push({ name: "home" });
               }else if(res.data.error){
                   message.value = res.data.error;
               }else if(res.data.email){
               		emailerror.value = res.data.email[0];
               }else if(res.data.name){
               	namerror.value = res.data.name[0];
               }else if(res.data.password){
               	passerror.value = res.data.password[0];
               }
            }

           
            return {
                form,
                register,
                message,
                emailerror,
                passerror
            }
        }  
    }
</script>