<template>
	<div id="app">
		<router-view />
	</div>
</template>

<script>

    import { reactive,inject,ref,onMounted } from 'vue';
	import router from '../router';


    import axios from 'axios';

    export default {

        setup(){

            var cookies = inject('cookies');
            const checkLogin = ()=>{
                if(cookies.get('access_token')){
                }else{
                router.push({ name: "login" });
                }
            }

            onMounted(checkLogin);
        }  
    }
</script>



